body {
	background-color:#C8D1FF;
	color:#45006E;
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:10px;
}

#profile{
	width:170px;
	border-radius:50% 50%;
}

.header { 
	grid-area: header;
	font-size:25px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:120px;
	text-align:right;
	border-bottom:solid #45006E 3px;
}
.menu {
	grid-area: menu;
	padding:10px 0;
	text-align:center;
}
.main {
	grid-area: main;
	padding-top:10px;
	padding-left:40px;
	padding-right:15px;
	padding-bottom:8px;
	overflow:hidden;
}
.footer {
	grid-area: footer;
	font-size:15px;
	padding: 10px 0;
	display:flex;
	text-align:center;
	justify-content:center;
	border-bottom:solid #45006E 3px;
	border-top:solid #45006E 3px;
}

.grid-container {
	width:70vw;
	height:92vh;
	display: grid;
	grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
	'menu main main main main main'
    'footer footer footer footer footer footer';
	gap: 7px;
	/*background-color: #2196F3;*/
	padding: 7px;
}

/*.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}*/

.menu > ul{
	width:150px;
	list-style-type:none;
	font-size:20px;
	list-style-position:outside;
}

.menu > ul li {
  padding: 10px 18px;
}

.setter{
	border:solid #45006E 3px;
    border-radius:10px 10px;
}

a.l-button:link, a.l-button:hover, a.l-button:active, a.l-button:visited{
	text-decoration:none;
	color:#45006E;
}

.icon{
	width:23px;
}


/*@media screen and (max-width: 992px) {
	
}*/